* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Background color */
  --bg: #0b0b0b;
  /* Font color */
  --fc: #fff;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--fc);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-style: normal;
  background: var(--bg);
}
